{{define "filter"}}
    <ul class="nav nav-filter">
        {{range .filter.Criteria}}
            <li{{if .Selected}} class="active"{{end}}>
                <a href="?filter={{.Key}}">
                    <i class="fa fa-filter"></i>
                    <span class="filter-label">{{.Label}}</span>
                </a>
            </li>
        {{end}}
    </ul>
{{end}}
