{{define "post"}}
    <article>
        <div>
            <h1>
                {{template "star_buttons" dict "request" .context.request "user" .context.user "post_id" .post.Post.ID "starred" .post.Starred.Valid}}
                <a href="//{{.post.GetPostUrl}}">{{.post.Post.Title}}</a>
            </h1>
            <div class="post-tags">
                {{range .post.GetPostTags}}
                    <a href="/posts?tag={{.Name}}">#{{.Name}}</a>
                {{end}}
            </div>
        </div>
        <div>
            <p>
                {{.post.Post.Stars}} stars,
                posted <time class="timeago" datetime="{{ISO8601 .post.Date}}">{{.post.Post.Date}}</time>
                {{if not .hideon}}
                    on
                    <a href="{{.post.Blog.GetAbsoluteUrl}}">{{.post.Blog.Title}}</a>
                {{end}}
            </p>
            <p class="category">{{.post.Category.Name}}</p>
        </div>
        {{if .post.Post.Summary}}
            <p>{{.post.Post.Summary}}</p>
        {{end}}
    </article>
{{end}}
