{{define "sort"}}
    <ul class="nav nav-sort">
        {{range .sort.Criteria}}
            <li{{if .Selected}} class="active"{{end}}>
                <a href="?sort={{.GetKey}}">
                    {{if .Selected}}
                        {{if .IsAsc}}
                            <i class="fa fa-sort-asc"></i>
                        {{else}}
                            <i class="fa fa-sort-desc"></i>
                        {{end}}
                    {{else}}
                        <i class="fa fa-sort"></i>
                    {{end}}
                    <span class="sort-label">{{.Label}}</span>
                </a>
            </li>
        {{end}}
    </ul>
{{end}}
