{{ define "star_buttons" }}
    {{ if .user.IsAuthenticated }}
        {{ if .starred }}
            <form method="POST" class="star-form" action="/post/unstar?next={{ .request.URL }}">
                <input type="hidden" name="post_id" value="{{ .post_id }}">
                <button type="submit" class="button-clear" title="Click to unstar" isselected="true">
                    <i class="fa fa-star fa-fw"></i>
                </button>
            </form>
        {{ else }}
            <form method="POST" class="star-form" action="/post/star?next={{ .request.URL }}">
                <input type="hidden" name="post_id" value="{{ .post_id }}">
                <button type="submit" class="button-clear" title="Click to star" isselected="false">
                    <i class="fa fa-star-o fa-fw"></i>
                </button>
            </form>
        {{ end }}
    {{ else }}
        <i class="fa fa-star-o fa-fw disabled" title="You need to sign in to star posts." data-toggle="tooltip" data-placement="left"></i>
    {{ end }}
{{ end }}

