{{ define "subscribtion_buttons" }}
    {{ if .user.IsAuthenticated }}
        {{ if .subscription }}
            <form method="POST" action="/blog/unsubscribe?next={{ .request.URL }}">
                <input type="hidden" name="blog_id" value="{{ .blog_id }}">
                <input type="submit" class="btn btn-danger btn-block" value="Unsubscribe">
            </form>
        {{ else }}
            <form method="POST" action="/blog/subscribe?next={{ .request.URL }}">
                <input type="hidden" name="blog_id" value="{{ .blog_id }}">
                <input type="submit" class="btn btn-success btn-block" value="Subscribe">
            </form>
        {{ end }}
    {{ else }}
        <button class="btn btn-success btn-block" disabled="disabled" title="Sign in to subscribe to blogs">Subscribe</button>
    {{ end }}
{{ end }}

