{{ define "subscription_buttons_compact" }}
    {{ if .user.IsAuthenticated }}
        {{ if .subscription }}
            <form method="POST" class="subscribe-form-compact" action="/nojs/blog/unsubscribe?next={{ .request.URL }}">
                <input type="hidden" name="blog_id" value="{{ .blog_id }}">
                <button type="submit" class="button-clear" title="Click to unsubscribe" isselected="true">
                    <i class="fa fa-paper-plane fa-fw"></i>
                </button>
            </form>
        {{ else }}
            <form method="POST" class="subscribe-form-compact" action="/nojs/blog/subscribe?next={{ .request.URL }}">
                <input type="hidden" name="blog_id" value="{{ .blog_id }}">
                <button type="submit" class="button-clear" title="Click to subscribe" isselected="false">
                    <i class="fa fa-paper-plane-o fa-fw"></i>
                </button>
            </form>
        {{ end }}
    {{ else }}
        <button class="button-clear disabled" title="You need to sign in to subscribe to blogs." data-toggle="tooltip" data-placement="left">
            <i class="fa fa-paper-plane-o fa-fw disabled"></i>
        </button>
    {{ end }}
{{ end }}

