{{ define "base" }}
<html>
    <head>
        <title>{{ template "title" . }}</title>
    </head>
    <body>
        {{ template "content" . }}
    </body>
</html>
{{ end }}
{{ define "title" }}{{ end }}
