{{ define "title"}}Blogs{{ end }}
{{ define "body_id"}}body-blogs{{ end }}

{{ define "content" }}
    <div class="container">
        {{ if .blogs }}
            <ul class="blogs">
                {{range .blogs}}
                    
                    <li>{{ template "blog" dict "request" $.request "user" $.user "row" . }}</li>
                {{end}}
            </ul>
        {{ else }}
            <p>There are no blogs in the database! Is this a new deployment?</p>
        {{ end }}
    </div>
{{ end }}

{{ define "blog" }}
    <div>
        <a class="title" href="{{.row.Blog.GetAbsoluteUrl}}">
            <h1>
                {{.row.Blog.Title}}
            </h1>
        </a>
        <a class="direct-link" href="//{{.row.GetUrl}}">{{.row.Blog.GetUrl}}</a>
    </div>
    <div>
        <p>
            {{ if .row.Updated }}
                Last post <time class="timeago" datetime="{{.row.Updated}}">{{.row.Updated}}</time>
            {{end}}
        </p>
    </div>
{{ end }}
