{{define "title"}}Blogs{{end}}
{{define "body_id"}}body-blogs{{end}}

{{define "content"}}
    <div class="container">
        {{if .blogs}}
            <ul class="blogs">
                {{range .blogs}}
                    {{template "blog" dict "blog" . "context" $}}
                {{end}}
            </ul>
        {{else}}
            <p>There are no blogs in the database! Is this a new deployment?</p>
        {{end}}
    </div>
{{end}}
