{{define "title"}}{{.blog.Title}}{{end}}

{{define "content"}}
    <div class="container">
        <div class="row">

            <aside class="col-md-3 blog-info">
                <div class="blog-header">
                    <a href="//{{.blog.GetUrl}}">
                        <h1>{{.blog.Title}}</h1>
                        <p>{{.blog.GetUrl}}</p>
                    </a>
                    {{template "subscription_buttons" dict "request" .request "user" .user "blog_id" .blog.ID "subscription" .subscription}}
                </div>

                <div class="hidden-xs hidden-sm">
                    <h2>Categories</h2>
                    <ul class="blog-categories">
                        {{range .categories}}
                            <li>
                                <div class="title">
                                    {{if .Name}}{{.Name}}{{else}}Default category{{end}}
                                </div>
                            </li>
                        {{end}}
                    </ul>

                    <h2>Tags</h2>
                    <ul class="blog-tags">
                        {{range .tags}}
                            <li>#{{.Name}}</li>
                        {{end}}
                    </ul>
                </div>
            </aside>

            <div class="col-md-9">
                <div class="posts">
                    {{range .posts}}
                        {{template "post" dict "post" . "context" $ "hideon" true}}
                    {{end}}
                </div>
            </div>

        </div>
    </div>
{{end}}
