{{define "title"}}Blogs{{end}}
{{define "body_id"}}body-blogs{{end}}

{{define "content"}}
    <div class="container">
        {{if .blogs}}
            <ul class="blogs">
                {{range .blogs}}
                    <li>
                        <div>
                            <h1>
                                <a class="title" href="{{.Blog.GetAbsoluteUrl}}">
                                    {{.Blog.Title}}
                                </a>
                            </h1>
                            <p class="direct-link">
                                <a href="//{{.GetUrl}}">{{.Blog.GetUrl}}</a>
                            </p>
                        </div>
                        <div>
                            <p>
                                {{.Subscriptions}} subscribers,
                                last post <time class="timeago" datetime="{{.Updated}}">{{.Updated}}</time>
                            </p>
                        </div>
                    </li>
                {{end}}
            </ul>
        {{else}}
            <p>There are no blogs in the database! Is this a new deployment?</p>
        {{end}}
    </div>
{{end}}
