{{ define "title"}}{{.Title}}{{ end }}

{{ define "content" }}
    <div class="container">
        <div class="row">

            <aside class="col-md-3 blog-info">
                <a href="//{{.blog.GetUrl}}">
                    <h1>
                        {{.blog.Title}}
                    </h1>
                    <p>{{.blog.GetUrl}}</p>
                </a>

                {{ template "subscribtion_buttons" dict "request" .request "user" .user "blog_id" .blog.ID }}

                <h2>Categories</h2>
                <ul class="categories">
                    {{range .categories}}
                        <li>
                            <div class="title">
                                {{if .Name}}{{.Name}}{{else}}Default category{{end}}
                            </div>
                        </li>
                    {{end}}
                </ul>

                <h2>Tags</h2>
                <ul class="tags">
                    {{range .tags}}
                        <li>#{{.Name}}</li>
                    {{end}}
                </ul>
            </aside>

            <div class="col-md-9">
                <div class="posts">
                    {{range .posts}}
                        <article>
                            <div>
                                <h1>
                                    <a href="//{{.GetUrl}}">{{.Title}}</a>
                                </h1>
                                <ul class="tags">
                                    {{range .GetTags}}
                                        <li>#{{.Name}}</li>
                                    {{end}}
                                </ul>
                            </div>
                            <div>
                                <p><time class="timeago" datetime="{{.GetISO8601Date}}">{{.Date}}</time></p>
                                <p class="category">{{.CategoryName}}</p>
                            </div>
                            {{ if .Summary }}
                                <p>{{.Summary}}</p>
                            {{ end }}
                        </article>
                    {{end}}
                </div>
            </div>

        </div>
    </div>
{{ end }}
