{{define "title"}}Blogs{{end}}
{{define "body_id"}}body-index{{end}}

{{define "content"}}
    <div class="container">
        <div class="col-md-10 col-md-push-2">
            {{if .user.IsAuthenticated}}
                <h1>Your subscriptions</h1>
                {{if .posts}}
                    <div class="posts">
                        {{range .posts}}
                            {{template "post" dict "post" . "context" $}}
                        {{end}}
                    </div>
                    {{template "pagination" .pagination}}
                {{else}}
                    <div class="message dimmed">
                        <i class="fa fa-paper-plane-o"></i>
                        <h1>Almost there!</h1>
                        <p>Subscribe to blogs and the posts will appear here.</p>
                    </div>
                {{end}}
            {{else}}
                <h1>Hello!</h1>
                <p class="index-message text-justify">The purpose of this
                website is to aggregate posts made on programming related
                blogs. While you can simply browse it, the core idea behind it
                is signing up and subscribing to the blogs you like to read.
                The posts made on those blogs will show up instead of this
                message on the front page of this website.</p>

                <div class="choice-buttons">
                    <a href="/signup">Sign up</a>
                    <a href="/signin">Sign in</a>
                </div>
            {{end}}
        </div>

        <div class="col-md-2 col-md-pull-10">
            {{if .user.IsAuthenticated}}
                <h1>Sort</h1>
                {{template "sort" dict "sort" .sort "context" $}}
            {{end}}

            {{if or .recommendedPost .recommendedBlog}}
                <h1>Recommended</h1>

                {{if .recommendedPost}}
                    <div class="posts small">
                        {{template "post_sidebar" dict "post" .recommendedPost}}
                    </div>
                {{end}}

                {{if .recommendedBlog}}
                    <ul class="blogs small">
                        {{template "blog_sidebar" dict "blog" .recommendedBlog}}
                    </ul>
                {{end}}
            {{end}}

            <h1>New posts</h1>
            <div class="posts small">
                {{range .new_posts}}
                    {{template "post_sidebar" dict "post" .}}
                {{else}}
                    <p>No posts found, subscribe to more blogs.</p>
                {{end}}
            </div>

        </div>
    </div>
{{end}}
