{{define "title"}}Index{{end}}
{{define "body_id"}}body-index{{end}}

{{define "content"}}
    <div class="container">
        <div class="col-md-10 col-md-push-2">
            {{if .user.IsAuthenticated}}
                <h1>Your subscriptions</h1>
                {{if .posts}}
                    <div class="posts">
                        {{range .posts}}
                            {{template "post" dict "post" . "context" $}}
                        {{end}}
                    </div>
                    {{template "pagination" .pagination}}
                {{else}}
                    <div class="message">
                        <i class="fa fa-paper-plane-o"></i>
                        <h1>Almost there!</h1>
                        <p>Subscribe to blogs and the posts will appear here.</p>
                    </div>
                {{end}}
            {{else}}
                <h1>Hello!</h1>
                <p class="index-message">The purpose of this website is to
                aggregate posts made on programming related blogs. While you
                can simply browse it, the core idea behind it is signing up and
                subscribing to the blogs you like to read. The posts made on
                those blogs will show up instead of this message on the front
                page of this website.</p>
            {{end}}
        </div>

        <div class="col-md-2 col-md-pull-10">
            {{if .user.IsAuthenticated}}
                <h1>Sort</h1>
                {{template "sort" dict "sort" .sort "context" $}}
            {{end}}

            <h1>New posts</h1>
            <div class="posts small">
                {{range .new_posts}}
                    <article>
                        <div>
                            <h1>
                                <a href="//{{.GetUrl}}">{{.Post.Title}}</a>
                            </h1>
                        </div>
                        <div>
                            <p>
                                <time class="timeago" datetime="{{.Post.GetISO8601Date}}">{{.Post.Date}}</time>
                                on
                                <a href="{{.Blog.GetAbsoluteUrl}}">{{.Blog.Title}}</a>
                            </p>
                        </div>
                    </article>
                {{else}}
                    <p>No posts found, subscribe to more blogs.</p>
                {{end}}
            </div>
        </div>
    </div>
{{end}}
