{{define "title"}}Posts{{end}}
{{define "body_id"}}body-posts{{end}}

{{define "content"}}
    <div class="container">
        {{if .posts}}
            <div class="posts">
                {{range .posts}}
                    {{template "post" dict "post" . "context" $}}
                {{end}}
            </div>
            {{template "pagination" .pagination}}
        {{else}}
            <p>There are no posts in the database! Is this a new deployment?</p>
        {{end}}
    </div>
{{end}}
