{{define "title"}}Posts{{end}}
{{define "body_id"}}body-posts{{end}}

{{define "content"}}
    <div class="container">
        <div class="col-md-2">
            <h1>Sort</h1>
            {{template "sort" dict "sort" .sort "context" $}}
            {{if .tag}}
                <h1>Filter</h1>
                <div>
                    <a href="/posts"><i class="fa fa-times"></i></a>
                    #{{.tag}}
                </div>
            {{end}}
        </div>

        <div class="col-md-10">
            {{if .posts}}
                <div class="posts">
                    {{range .posts}}
                        {{template "post" dict "post" . "context" $}}
                    {{end}}
                </div>
                {{template "pagination" .pagination}}
            {{else}}
                <p>There are no posts in the database! Is this a new deployment?</p>
            {{end}}
        </div>
    </div>
{{end}}
