{{define "tab_subscriptions"}} class="active"{{end}}

{{define "profile_content"}}
    <h1>Subscriptions</h1>
    {{if .blogs}}
        <ul class="blogs">
            {{range .blogs}}
                {{template "blog" dict "blog" . "context" $}}
            {{end}}
        </ul>
        {{template "pagination" .pagination}}
    {{else}}
        <p>No blogs found.</p>
    {{end}}
{{end}}
