{{define "tab_stars"}} class="active"{{end}}

{{define "profile_content"}}
    <h1>Stars</h1>
    {{if .posts}}
        <div class="posts">
            {{range .posts}}
                {{template "post" dict "post" . "context" $}}
            {{end}}
        </div>
        {{template "pagination" .pagination}}
    {{else}}
        <p>No posts found.</p>
    {{end}}
{{end}}
