{{define "title"}}{{.profile.Username}} - Profile{{end}}

{{define "content"}}
    <div class="container">
        <div class="col-md-3">
            <h1>{{.profile.Username}}</h1>
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" {{template "tab_stars" .}}>
                    <a href="/profile/{{.profile.ID}}/stars">Stars</a>
                </li>
                <li role="presentation" {{template "tab_subscriptions" .}}>
                    <a href="/profile/{{.profile.ID}}/subscriptions">Subscriptions</a>
                </li>
            </ul>
        </div>

        <div class="col-md-9">
            {{ template "profile_content" . }}
        </div>
    </div>
{{end}}
{{define "tab_stars"}}{{end}}
{{define "tab_subscriptions"}}{{end}}
