{{define "title"}}Tags{{end}}
{{define "body_id"}}body-tags{{end}}

{{define "content"}}
    <div class="container">
        <div class="col-md-2">
            <h1>Sort</h1>
            {{template "sort" dict "sort" .sort "context" $}}
        </div>

        <div class="col-md-10">
            <h1>Tags</h1>
            {{if .tags}}
                <ul class="tags">
                    {{range .tags}}
                        <li>
                            <a href="/posts?tag={{.Tag.Name}}">
                                <h1>#{{.Tag.Name}}</h1>
                                <p>{{.Count}} posts</p>
                            </a>
                        </li>
                    {{end}}
                </ul>
                {{template "pagination" .pagination}}
            {{else}}
                <p>There are no tags in the database! Is this a new deployment?</p>
            {{end}}
        </div>
    </div>
{{end}}
