html, body {
    background-color: #eee;
}

.posts article, .blogs li, .vertical-form, .index-message {
    border: 1px solid $border-gray;
    background-color: #fff;
    margin: 1em 0;
    padding: 1em;
}

.posts.small article {
    border: none;
    background-color: transparent;
}

.tags li a{
    background-color: #fff;
}

.nav-pills {
    li {
        a {
            color: inherit;
            padding: 0;
        }

    }
    li:last-child {
        a {
            padding-bottom: 1em;
        }
    }

    >li.active {
        >a, >a:hover {
            color: inherit;
            background-color: transparent;
        }

        .sort-label {
            text-decoration: underline;
        }
    }
}

.filter {
    a {
        color: inherit;
    }
}
