{{ define "title"}}{{ .error_message }}{{ end }}

{{ define "content" }}
    <div class="container">
        <div class="message error">
            <h1>{{ .error_code }}</h1>
            <p>{{ .error_message }}</p>
        </div>
        <img class="error-gopher" src="/static/img/gopher_tree.svg">
    </div>
{{ end }}
