{{ define "title"}}Sign in{{ end }}
{{ define "body_id"}}body-login{{ end }}

{{ define "content" }}
    <div class="container">
        <h1>Sign in</h1>
        <form method="POST" action="">
            {{ template "form" .form }}
        </form>
    </div>
{{ end }}
